.auction-modal {
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center
}

.auction-modal-container {
    display: flex;

    position: absolute;
    height: 600px;
    width: 800px;
    background-Color: #F2F3F5;

    border-radius: 10px;
} 

.auction-modal-container h3{
    font-size: 18px; 
    font-family: 'Roboto', sans-serif;
    margin: 10px
}

.image-desc-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    
    /* align-content: center;
    align-items: center */
}

.bid-info-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center ;
    /* margin-left: 70px; */
    margin-top: 40px
}

.coral-name-desc{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    /* margin-right: 120px */
}

#modal-desc{
    max-width: 350px;
    margin-left: 10px
}

.place-bid-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: 80px
}

.place-bid-container input{
    font-size: 16px;
    width: 100px;
    height: 40px;
    border-radius: 10px
}

.auction-modal-container img{
    height: 300px;
    width: 350px;
    margin: 30px;
    border-radius: 2px

}

.auction-modal-data-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-left: 50px
}

.coral-type{
    display: flex;
    align-content: center;
    align-items: center
}

/* BUTTON STYLES */

.add-to-watchlist-button{
    height: 30px;
    width: 200px;
    font-family: 'Acme', sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #8EE181;
    margin-left: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.bid-button{
    height: 30px;
    width: 200px;
    font-family: 'Acme', sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #8EE181;
    margin-left: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.delete-from-watchlist{
    height: 30px;
    width: 200px;
    font-family: 'Acme', sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #D7443F;
    margin-left: 5px;
    margin-top: 20px;
    cursor: pointer;
}